<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link href="result.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h2><span class="name"><%= name%></span>님 마이페이지</h2>
      <div>
        <img src="<%= imgPath%>" alt="" class="profile" />
      </div>
      <div class="info">
        <div><span>아이디</span> <span><%= id%></span></div>
        <div><span>비밀번호</span> <span><%= pw%></span></div>
        <div><span>이름</span> <span><%= name%></span></div>
        <div><span>나이</span> <span><%= age%></span></div>
      </div>
    </div>
  </body>
</html>
